[submodule "Engine/3rdParty/glm/Repo"]
	path = Engine/3rdParty/glm/Repo
	url = https://github.com/g-truc/glm
[submodule "Engine/3rdParty/xxHash/Repo"]
	path = Engine/3rdParty/xxHash/Repo
	url = https://github.com/Cyan4973/xxHash.git
[submodule "Engine/3rdParty/RapidJSON/Repo"]
	path = Engine/3rdParty/RapidJSON/Repo
	url = https://github.com/Tencent/rapidjson.git
[submodule "Engine/3rdParty/Mustache/Repo"]
	path = Engine/3rdParty/Mustache/Repo
	url = https://github.com/kainjow/Mustache.git
